*{
  margin: 0;
}

.app{
  display: grid;
  grid-template-rows: 0.5fr 5fr 1.2fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: 
  'side-bar header '
  'side-bar body'
  'side-bar footer';
  height: 100vh;
}

.header{
  grid-area : header;
}

.side-bar{
grid-area: side-bar;
}

.body{
  grid-area: body;
}

.footer{
  display: grid;
  grid-area: footer;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.25fr 1.2fr 0.5fr;
  grid-template-areas: 
  '. . .'
  '. search-bar .'
  '. . .';
}

#footer-search-bar{
  display: grid;
  grid-area: search-bar;
  border-style: solid;
  border-color: lightgray;
  border-radius: 30px;
  border-width: 1px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  grid-template-columns: 0.3fr auto 0.3fr;
  grid-template-rows: 0.8fr 0.1fr;
  font-size: 20px;
  grid-template-areas: 
  'footer-search-bar-body footer-search-bar-body footer-search-bar-body'
  '. . search-bar-submit';
}

#footer-search-bar-body{
  font-size: 20px;
  margin: 15px;
  grid-area: footer-search-bar-body;
  border-color: transparent;
  outline: none;
}

#search-bar-submit{
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-style: solid;
  border-color: lightgray;
  border-radius: 60px;
  height: 20px;
  width: 20px;
  grid-area: search-bar-submit;
}