.root{
  grid-template-rows: 1fr, 5fr, 2fr;
  grid-template-columns: 1fr, 5fr;
  grid-template-areas: 
  'side-bar header '
  'side-bar body'
  'side-bar footer';
  height: 100vh;
}

#header{

}

#side-bar{

}

#body{

}

#footer{

}
